---
import Layout from '../layouts/Layout.astro';
import SocialLink from '../components/SocialLink.astro';
import ProfileCard from '../components/ProfileCard.astro';
import type { SocialLink as SocialLinkType, Profile } from '../types';

const profile: Profile = {
    name: 'Ricardo',
    username: 'ricardosmf.me',
    image: '/public/profile.jpg'
};

const links: SocialLinkType[] = [
    { name: 'bluesky', url: 'https://bsky.app/profile/ricardosmf.me', color: 'bg-blue-400' },
    { name: 'github', url: 'https://github.com/ricardosmf', color: 'bg-gray-800' },
    { name: 'linkedin', url: 'https://www.linkedin.com/in/ricardosmf/', color: 'bg-blue-600' }
];
---

<Layout title={`personal website`}>
    <main class='bg-white rounded-lg shadow-xl p-8 max-w-md w-full'>
        <ProfileCard {...profile} />
        <div class='space-y-4'>
            {links.map((link) => <SocialLink {...link} />)}
        </div>
    </main>
</Layout>
