---
import Layout from '../layouts/Layout.astro';
import SocialLink from '../components/SocialLink.astro';
import ProfileCard from '../components/ProfileCard.astro';
import type { SocialLink as SocialLinkType, Profile } from '../types';

const profile: Profile = {
    name: 'Ricardo',
    username: 'ricardosmf.me',
    image: '/profile.jpg'
};

const links: SocialLinkType[] = [
    {
        name: 'bluesky',
        url: 'https://bsky.app/profile/ricardosmf.me',
        bgColor: 'bg-sky-500',
        hoverColor: 'hover:bg-sky-600'
    },
    {
        name: 'github',
        url: 'https://github.com/ricardosmf',
        bgColor: 'bg-gray-800',
        hoverColor: 'bg-gray-900'
    },
    {
        name: 'linkedin',
        url: 'https://www.linkedin.com/in/ricardosmf/',
        bgColor: 'bg-indigo-600',
        hoverColor: 'bg-indigo-600'
    }
];
---

<Layout title={`personal website`}>
    <main class='bg-gray-800 p-6 rounded-lg max-w-md w-full border border-gray-700'>
        <ProfileCard {...profile} />
        <div class='space-y-3'>
            {links.map((link) => <SocialLink {...link} />)}
        </div>
    </main>
</Layout>
