---
import type { SocialLink } from '../types';
type Props = SocialLink;
const { name, url, bgColor, hoverColor } = Astro.props;
---

<a href={url} target='_blank' rel='noopener noreferrer' class={`block px-4 py-3 ${bgColor} rounded ${hoverColor} text-gray-100 text-center transition-colors`}>
    {name}
</a>
