---
interface Props {
    title: string;
    description?: string;
}

const { title, description = 'Connect with me on social media' } = Astro.props;
---

<html lang='en'>
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width' />
        <meta name='description' content={description} />
        <title>{title}</title>
    </head>
    <body class='min-h-screen bg-gray-900 flex flex-col items-center justify-center p-4'>
        <slot />
    </body>
</html>
